@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-y: auto;
}

#scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#gradient {
  /* --gradient-top: black; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 1) 79%
  );
}
