@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-y: auto;
}

#scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#gradient {
  /* --gradient-top: black; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 1) 79%
  );
}

.shmmer-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  background-size: 200% 100%;
  background-position: 100% 0;
  animation: shimmer 2s infinite linear;
}

/* .shimmer-animation {
  animation: shimmer 2s infinite linear;
} */

@keyframes shimmer {
  /* 0% {
    left: 0;
  }
  100% {
    right: 0;
  } */
  to {
    background-position: -100% 0;
  }
}
