@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-y: auto;
}

#scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* #gradieant {
  --gradieant-top: black;
} */
